<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.weiyin.mapper.NoticesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="online.weiyin.entity.Notices">
        <id column="notice_id" property="noticeId" />
        <result column="created_id" property="createdId" />
        <result column="create_dt" property="createDt" />
        <result column="notice_type" property="noticeType" />
        <result column="notice_target" property="noticeTarget" />
        <result column="information" property="information" />
    </resultMap>

</mapper>
